<app-navbar class="mat-elevation-z6" _nghost-agx-c50="">
<mat-toolbar color="primary">
    <ul>
        <a mat-button  routerLink="tasks"><mat-icon>home</mat-icon>&nbsp;&nbsp;Inicio</a>


        <button mat-button *ngIf="authService.isLogged() && authService.getRol() == 'admin'" [matMenuTriggerFor]="activo" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
            <a>Lista Activo</a>
        </button>
        

        <button mat-button *ngIf="authService.isLogged() && authService.getRol() == 'admin'" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
            <a>Nuevo Activo</a>
        </button>

        <button mat-button *ngIf="authService.isLogged() && authService.getRol() == 'admin'" [matMenuTriggerFor]="depreciacion" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
            <a>Depreciacion</a>
        </button>

        <button mat-button *ngIf="authService.isLogged() && authService.getRol() == 'admin'" [matMenuTriggerFor]="seccion" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
            <a>Lista Componentes</a>
        </button>

        <a mat-button *ngIf="authService.isLogged() && authService.getRol() == 'admin'" routerLink="listar-func">Funcionarios</a>

        <!--<a mat-button *ngIf="authService.isLogged() && authService.getRol() == 'admin'" routerLink="create">create</a>-->

        
<!--menu para la parte del usuario qeu utilizara el sistema-->
        <button mat-button *ngIf="authService.isLogged() && authService.getRol() == 'user'" [matMenuTriggerFor]="activo" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
            <a>Lista Activo</a>
        </button>
        

        <button mat-button *ngIf="authService.isLogged() && authService.getRol() == 'user'" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
            <a>Nuevo Activo</a>
        </button>

        <button mat-button *ngIf="authService.isLogged() && authService.getRol() == 'user'" [matMenuTriggerFor]="seccion" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
            <a>Lista Componentes</a>
        </button>

        <button mat-button *ngIf="authService.isLogged() && authService.getRol() == 'user'" [matMenuTriggerFor]="depreciacion" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
            <a>Depreciacion</a>
        </button>


        <a mat-button *ngIf="authService.isLogged() && authService.getRol() == 'user'" routerLink="listar-func">Funcionarios</a>
    </ul>

<!--Menu para la parte del cliente  que soro sera de letura y no asi para la modificacion-->
    <button mat-button *ngIf="authService.isLogged() && authService.getRol() == 'pm'" [matMenuTriggerFor]="reporte" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
            <a>Lista Activo</a>
    </button>


    <span class="spacer"></span>
    <ul>
        <button mat-button *ngIf="authService.isLogged() && authService.getRol() == 'admin'" [matMenuTriggerFor]="user" aria-label="Example icon-button with a menu">
            <a>Registro Usuario</a>
        </button>
        <a *ngIf="!authService.isLogged()" mat-button routerLink="login">Iniciar Sesion</a>
        <a *ngIf="authService.isLogged()" mat-button (click)="authService.logoutUser()">Cerrar Sesion</a>
    </ul>
</mat-toolbar>
</app-navbar>
<h1>hola mundo</h1>


<mat-menu #activo="matMenu">
    <button mat-menu-item (click)="listaactivo()">
      <mat-icon>list_alt</mat-icon>
      <span>Listar Activo</span>
    </button>
    <button mat-menu-item (click)="reportes()">
        <mat-icon>list_alt</mat-icon>
        <span>Reportes</span>
    </button>
    <button mat-menu-item (click)="listamovi()">
        <mat-icon>list_alt</mat-icon>
        <span>Lista Movimientos</span>
    </button>
</mat-menu>

<mat-menu #reporte="matMenu">
    <button mat-menu-item (click)="reportes()">
        <mat-icon>list_alt</mat-icon>
        <span>Reportes</span>
    </button>
</mat-menu>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="terrenosnew()">
      <mat-icon>crop_din</mat-icon>
      <span>171 Terrenos</span>
    </button>
    <button mat-menu-item (click)="edificiosnew()">
        <mat-icon>location_city</mat-icon>
        <span>172 Edificios</span>
    </button>
    <button mat-menu-item (click)="moviliarionew()">
        <mat-icon>weekend</mat-icon>
        <span>173 Moviliario y enseres</span>
    </button>
    <button mat-menu-item (click)="instalacionnew()">
        <mat-icon>devices_other</mat-icon>
        <span>174 Equipos e instalacion</span>
    </button>
    <button mat-menu-item (click)="computacionnew()">
        <mat-icon>computer</mat-icon>
        <span>175 Equipos de computacion</span>
    </button>
    <button mat-menu-item (click)="vehiculosnew()">
        <mat-icon>directions_car</mat-icon>
        <span>176 Vehiculos</span>
    </button>
    <button mat-menu-item (click)="otrosnew(177)">
        <mat-icon>add</mat-icon>
        <span>177 Obras de arte</span>
    </button>
    <button mat-menu-item (click)="otrosnew(178)">
        <mat-icon>add</mat-icon>
        <span>178 Vienes tomados en arrendamiento financiero</span>
    </button>
    <button mat-menu-item (click)="otrosnew(179)">
        <mat-icon>add</mat-icon>
        <span>179 Obras de construccion</span>
    </button>
    <button mat-menu-item (click)="otrosnew(180)">
        <mat-icon>add</mat-icon>
        <span>180 Otros activos</span>
    </button>
    <button mat-menu-item (click)="otrosnew(181)">
        <mat-icon>add</mat-icon>
        <span>181 Bienes diversos</span>
    </button>
    <button mat-menu-item (click)="otrosnew(182)">
        <mat-icon>add</mat-icon>
        <span>182 Cargos diferidos</span>
    </button>
    <button mat-menu-item (click)="otrosnew(183)">
        <mat-icon>add</mat-icon>
        <span>183 Partidas pendientes de imputacion</span>
    </button>
    <button mat-menu-item (click)="otrosnew(184)">
        <mat-icon>add</mat-icon>
        <span>184 Activos intangibles</span>
    </button>
</mat-menu>

<mat-menu #seccion="matMenu">
    <button mat-menu-item (click)="seccionlist()">
      <mat-icon>list_alt</mat-icon>
      <span>Listar secion</span>
    </button>
    <button mat-menu-item (click)="cooplist()">
        <mat-icon>list_alt</mat-icon>
        <span>Lista cooperativa</span>
    </button>
    <button mat-menu-item (click)="cuentalist()">
        <mat-icon>list_alt</mat-icon>
        <span>Lista cuenta</span>
    </button>
    <button mat-menu-item (click)="tipocuenta()">
        <mat-icon>list_alt</mat-icon>
        <span>Lista Tipos de Cuenta</span>
    </button>
    <button mat-menu-item (click)="adquilist()">
        <mat-icon>list_alt</mat-icon>
        <span>Lista de adquisicion</span>
    </button>
</mat-menu>
<mat-menu #user="matMenu">
    <button mat-menu-item (click)="createuser()">
      <mat-icon>add</mat-icon>
      <span>Nuevo Usuario</span>
    </button>
    <button mat-menu-item (click)="listuser()">
        <mat-icon>list_alt</mat-icon>
        <span>Lista Usuarios</span>
    </button>
</mat-menu>

<mat-menu #depreciacion="matMenu">
    <button mat-menu-item routerLink="depreciacionmensual">
      <mat-icon>list_alt</mat-icon>
      <span>Depreciacion Mensual</span>
    </button>
    <button mat-menu-item routerLink="depreciacionanual">
        <mat-icon>list_alt</mat-icon>
        <span>Depreciacion Anual</span>
    </button>
</mat-menu>

<!--para el rol de usuario authService.getRol()=='user' 'admin' 'pm' -->