<div class="container">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Codigo de activo : {{activo.id_cuenta}}-{{activo.id_coop}}-{{activo.cod_tipo}} </mat-card-title>
    <mat-card-subtitle>
      <tr>Area y funcionario: {{activo.cod_seccion}}-{{activo.id_funcionario}} - {{nombres.nombre}} {{nombres.ap_paterno}} {{nombres.ap_materno}}</tr>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z5">
      <mat-tab label="Imagen">
        <div class="imagen">
          <img *ngIf="activo.imagen" mat-card-image src="http://localhost:8080/api/v1/uploads/img/{{activo.imagen}}" 
          alt="Foto del activo">
        </div>
      </mat-tab>
      <mat-tab label="Detalles">
        <mat-card class="conten" class="mat-elevation-z4">
          <table *ngIf="activo.id_cuenta == 171">
            <td><mat-card class="mat-elevation-z4">
              <tr>Nombre del activo : {{activo.nombre_tipo}}</tr>
              <tr>Cod. catastro: {{terrenos.cod_catastro}}</tr>
              <tr>Superficie : {{terrenos.superficie}}</tr>
              <tr>Matricula DDRR : {{terrenos.matricula_ddrr}}</tr>
              <tr>Propietario : {{terrenos.propietario}}</tr>
              <tr>Departamento : {{terrenos.departamento}}</tr>
            </mat-card></td>
            <td><mat-card class="mat-elevation-z4">
              <tr>Ciudad : {{terrenos.ciudad}}</tr>
              <tr>Direccion : {{terrenos.direccion}}</tr>
              <tr>Unidad : {{activo.unidad}}</tr>
              <tr>Estado : {{activo.estado_op_nop}}</tr>
              <tr>Vida Util : {{activo.vida_util}}</tr>
              <tr>Sujeto a Depreciacion : {{activo.sujeto_depreciacion}}</tr>
            </mat-card></td>
          </table>
          <table *ngIf="activo.id_cuenta == 172">
            <td><mat-card class="mat-elevation-z4">
              <tr>Nombre del activo : {{activo.nombre_tipo}}</tr>
              <tr>Cod. catastro: {{edificios.cod_catastro}}</tr>
              <tr>Superficie : {{edificios.superficie}}</tr>
              <tr>Matricula DDRR : {{edificios.matricula_ddrr}}</tr>
              <tr>Propietario : {{edificios.propietario}}</tr>
              <tr>Departamento : {{edificios.departamento}}</tr>
            </mat-card></td>
            <td><mat-card class="mat-elevation-z4">
              <tr>Ciudad : {{edificios.ciudad}}</tr>
              <tr>Direccion : {{edificios.direccion}}</tr>
              <tr>Unidad : {{activo.unidad}}</tr>
              <tr>Estado : {{activo.estado_op_nop}}</tr>
              <tr>Vida Util : {{activo.vida_util}}</tr>
              <tr>Sujeto a Depreciacion : {{activo.sujeto_depreciacion}}</tr>
            </mat-card></td>
          </table>
          <table *ngIf="activo.id_cuenta == 173">
            <td><mat-card class="mat-elevation-z4">
              <tr>Nombre del activo : {{activo.nombre_tipo}}</tr>
              <tr>Matrial : {{mobiliarioenseres.material}}</tr>
              <tr>Color : {{mobiliarioenseres.color}}</tr>
              <tr>Unidad : {{activo.unidad}}</tr>
              <tr>Estado : {{activo.estado_op_nop}}</tr>
              <tr>Vida Util : {{activo.vida_util}}</tr>
              <tr>Sujeto a Depreciacion : {{activo.sujeto_depreciacion}}</tr>
            </mat-card></td>
          </table>
          <table *ngIf="activo.id_cuenta == 174">
            <td><mat-card class="mat-elevation-z4">
              <tr>Nombre del activo : {{activo.nombre_tipo}}</tr>
              <tr>Marca: {{equipinstall.marca}}</tr>
              <tr>Numero serial : {{equipinstall.nro_serial}}</tr>
              <tr>Color : {{equipinstall.color}}</tr>
              <tr>Modelo : {{equipinstall.modelo}}</tr>
              <tr>Tipo : {{equipinstall.tipo}}</tr>
            </mat-card></td>
            <td><mat-card class="mat-elevation-z4">
              <tr>Industria : {{equipinstall.industria}}</tr>
              <tr>Unidad : {{activo.unidad}}</tr>
              <tr>Estado : {{activo.estado_op_nop}}</tr>
              <tr>Vida Util : {{activo.vida_util}}</tr>
              <tr>Sujeto a Depreciacion : {{activo.sujeto_depreciacion}}</tr>
            </mat-card></td>
          </table>
          <table *ngIf="activo.id_cuenta == 175">
            <td><mat-card class="mat-elevation-z4">
              <tr>Nombre del activo : {{activo.nombre_tipo}}</tr>
              <tr>Marca: {{equipcompu.marca}}</tr>
              <tr>Numero serial : {{equipcompu.nro_serial}}</tr>
              <tr>Color : {{equipcompu.color}}</tr>
              <tr>Tipo : {{equipcompu.tipo}}</tr>
            </mat-card></td>
            <td><mat-card class="mat-elevation-z4">
              <tr>Industria : {{equipcompu.industria}}</tr>
              <tr>Unidad : {{activo.unidad}}</tr>
              <tr>Estado : {{activo.estado_op_nop}}</tr>
              <tr>Vida Util : {{activo.vida_util}}</tr>
              <tr>Sujeto a Depreciacion : {{activo.sujeto_depreciacion}}</tr>
            </mat-card></td>
          </table>
          <table *ngIf="activo.id_cuenta == 176">
            <td><mat-card class="mat-elevation-z4">
              <tr>Nombre del activo : {{activo.nombre_tipo}}</tr>
              <tr>Ruat: {{vehiculos.ruat}}</tr>
              <tr>Nro. placa : {{vehiculos.nro_placa}}</tr>
              <tr>Nro. chasis : {{vehiculos.nro_chasis}}</tr>
              <tr>Nro. motor : {{vehiculos.nro_motor}}</tr>
              <tr>Marca : {{vehiculos.marca}}</tr>
              <tr>Color : {{vehiculos.color}}</tr>
            </mat-card></td>
            <td><mat-card class="mat-elevation-z4">
              <tr>Tipo : {{vehiculos.tipo}}</tr>
              <tr>Modelo : {{vehiculos.modelo}}</tr>
              <tr>Procedencia : {{vehiculos.procedencia}}</tr>
              <tr>Unidad : {{activo.unidad}}</tr>
              <tr>Estado : {{activo.estado_op_nop}}</tr>
              <tr>Vida Util : {{activo.vida_util}}</tr>
              <tr>Sujeto a Depreciacion : {{activo.sujeto_depreciacion}}</tr>
            </mat-card></td>
          </table>
          <table *ngIf="activo.id_cuenta > 176">
            <td><mat-card class="mat-elevation-z4">
              <tr>Nombre del activo : {{activo.nombre_tipo}}</tr>
              <tr>Unidad : {{activo.unidad}}</tr>
              <tr>Estado : {{activo.estado_op_nop}}</tr>
              <tr>Vida Util : {{activo.vida_util}}</tr>
              <tr>Sujeto a Depreciacion : {{activo.sujeto_depreciacion}}</tr>
            </mat-card></td>
          </table>  
          <tr>Descripcion : {{activo.descripcion}}</tr>
          <tr>Observaciones: {{activo.observacion}}</tr>
        </mat-card>
      </mat-tab>
      <mat-tab label="Tipo adquisicion">
        <mat-card class="conten" class="mat-elevation-z4">
          <table>
            <td><mat-card class="mat-elevation-z4">
              <tr>Tipo de adquisicion : {{adquisicion.id_adquisicion}}</tr>
              <tr>Comprobante Contable : {{adquisicion.comprobante_contable}}</tr>
              <tr>Numero de Factura : {{adquisicion.nro_factura}}</tr>
              <tr>Costo de adquisiscion : {{adquisicion.costo_adquisicion}}</tr>
              <tr>Fecha de adquisicion : {{adquisicion.fecha_adquisicion}}</tr>
            </mat-card></td>
            <td><mat-card class="mat-elevation-z4">
              <tr>DATOS DEL PROVEEDOR</tr>
              <tr>Nit de proveedor : {{adquisicion.nit}}</tr>
              <tr>Direccion : {{proveedors.direccion}}</tr>
              <tr>Nombre de tienda : {{proveedors.nombre_tienda}}</tr>
              <tr>Nro. telefono : {{proveedors.telefono}}</tr>
            </mat-card></td>
          </table>  
        </mat-card>
      </mat-tab>
      <mat-tab label="Movimientos">
        <mat-card class="conten" class="mat-elevation-z4">
          Sin Accion.......
        </mat-card>
      </mat-tab>
    </mat-tab-group>
    <mat-card-actions>
      <button  class="button" mat-raised-button [mat-dialog-close]="true">Cerrar</button>
  </mat-card-actions>
  </mat-card-content>
</mat-card>
</div>




<!--<div class="list">
    <mat-card class="mat-elevation-z8">
        <mat-card-header class="title">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Activo Equipos de Computacion : {{activo.id_cuenta}}-{{activo.id_coop}}-{{activo.cod_tipo}}-{{activo.cod_seccion}}-{{activo.id_funcionario}} </mat-card-title>
          <mat-card-subtitle>Nombre tipo: {{activo.nombre_tipo}} </mat-card-subtitle>
        </mat-card-header>
        
        <h4>Detalles del Activo </h4>
        <table>
          <td><mat-card class="info"><mat-label>Cod. Coop.:</mat-label> {{activo.id_coop}}</mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info"><mat-label>Cod. Seccion:</mat-label> {{activo.cod_seccion}}</mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info"><mat-label>Cod. Funcionario:</mat-label> {{activo.id_funcionario}}</mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info"><mat-label>Unidad:</mat-label> {{activo.unidad}}</mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info">
            <mat-label class="ope" *ngIf="activo.estado_op_nop == 'Operativo' ">{{activo.estado_op_nop}}</mat-label>
            <mat-label class="nope" *ngIf="activo.estado_op_nop == 'No operativo' ">{{activo.estado_op_nop}}</mat-label>
          </mat-card></td>
        </table>

        <table>
          <td><mat-card class="info"><mat-label>Color :</mat-label> {{equipcompu.color}}</mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info"><mat-label>Marca :</mat-label> {{equipcompu.marca}}</mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info"><mat-label>Nro. Serial :</mat-label> {{equipcompu.nro_serial}}</mat-card></td>
        </table>
        <table>
          <td><mat-card class="info"><mat-label>Tipo de Equipo :</mat-label> {{equipcompu.tipo}}</mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info"><mat-label>Industria :</mat-label> {{equipcompu.industria}}</mat-card></td>
        </table>
    
        <table>
          <td><mat-card class="info">
          <mat-label>Descripcion:</mat-label>
          <p>
             {{activo.descripcion}}
          </p>
          </mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info">
          <mat-label>Observacion:</mat-label>
          <p>
              {{activo.observacion}}
          </p>
          </mat-card></td>
        </table>
        <h5>Detalles de la adquisicion del activo </h5>
        <table>
          <td><mat-card class="info"><mat-label>Cod. Adquisicion.:</mat-label> {{adquisicion.id_adquisicion}}</mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info"><mat-label>Nro. Factura:</mat-label> {{adquisicion.nro_factura}}</mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info"><mat-label>Fecha Adquisicion:</mat-label> {{adquisicion.fecha_adquisicion}}</mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info"><mat-label>Comprobante Contable:</mat-label> {{adquisicion.comprobante_contable}}</mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info"><mat-label>Costo de Adquisicion:</mat-label> {{adquisicion.costo_adquisicion}} Bs. </mat-card></td>
        </table>
        <table>
          <td><mat-card class="info"><mat-label>Nro. Nit Proveedor:</mat-label> {{adquisicion.nit}}</mat-card></td>&nbsp;&nbsp;
        </table>
    
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    </div>-->
    
    <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->