.mat-elevation-z8 {
    max-width: 1100px;
  }
  
.example-header-image {
    background-image: url(../../ImgActivos/terrenos.jpg);
    background-size: cover;
}

.list{
    display: flex;
    justify-content: center;
}

img{
    max-width: 100px 100px;
}

mat-card-header{
    background-image: url(../../ImgActivos/terrenos.jpg);
    background-repeat: no-repeat;
    background-size: 1100px;
}

.info{
    color: black;
    background-color: rgb(219, 246, 219);
}

table{
    width: 100%;
    justify-content: center;
}

mat-label{
    text-decoration: underline;
}

.ope{
    color: lightgreen;
}
.nope{
    color: red;
}