<div class="list">
    <mat-card class="mat-elevation-z8">
        <mat-card-header class="title">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Activo Vehiculos: {{activo.id_cuenta}}-{{activo.id_coop}}-{{activo.cod_tipo}}-{{activo.cod_seccion}}-{{activo.id_funcionario}} </mat-card-title>
          <mat-card-subtitle>Nombre tipo: {{activo.nombre_tipo}} </mat-card-subtitle>
        </mat-card-header>
        
        <h4>Detalles del activo </h4>
        <table>
          <td><mat-card class="info"><mat-label>Cod. Coop.:</mat-label> {{activo.id_coop}}</mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info"><mat-label>Cod. Seccion:</mat-label> {{activo.cod_seccion}}</mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info"><mat-label>Cod. Funcionario:</mat-label> {{activo.id_funcionario}}</mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info"><mat-label>Unidad:</mat-label> {{activo.unidad}}</mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info">
            <mat-label class="ope" *ngIf="activo.estado_op_nop == 'Operativo' ">{{activo.estado_op_nop}}</mat-label>
            <mat-label class="nope" *ngIf="activo.estado_op_nop == 'No operativo' ">{{activo.estado_op_nop}}</mat-label>
          </mat-card></td>
        </table>
    
        <table>
          <td><mat-card class="info"><mat-label>Nro. de Placa :</mat-label> {{vehiculos.nro_placa}}</mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info"><mat-label>Tipo :</mat-label> {{vehiculos.tipo}}</mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info"><mat-label>Modelo :</mat-label> {{vehiculos.modelo}}</mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info"><mat-label>Marca :</mat-label> {{vehiculos.marca}}</mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info"><mat-label>Color :</mat-label> {{vehiculos.color}}</mat-card></td>&nbsp;&nbsp;
        </table>
        <table>
          <td><mat-card class="info"><mat-label>Nro. Ruat :</mat-label> {{vehiculos.ruat}}</mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info"><mat-label>Nro. chasis :</mat-label> {{vehiculos.nro_chasis}}</mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info"><mat-label>Nro. Motor :</mat-label> {{vehiculos.nro_motor}}</mat-card></td>
          <td><mat-card class="info"><mat-label>Procedencia :</mat-label> {{vehiculos.procedencia}}</mat-card></td>
        </table>
    
        <table>
          <td><mat-card class="info">
          <mat-label>Descripcion:</mat-label>
          <p>
             {{activo.descripcion}}
          </p>
          </mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info">
          <mat-label>Observacion:</mat-label>
          <p>
              {{activo.observacion}}
          </p>
          </mat-card></td>
        </table>
        <h5>Detalles de la adquisicion del activo </h5>
        <table>
          <td><mat-card class="info"><mat-label>Cod. Adquisicion.:</mat-label> {{adquisicion.id_adquisicion}}</mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info"><mat-label>Nro. Factura:</mat-label> {{adquisicion.nro_factura}}</mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info"><mat-label>Fecha Adquisicion:</mat-label> {{adquisicion.fecha_adquisicion}}</mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info"><mat-label>Comprobante Contable:</mat-label> {{adquisicion.comprobante_contable}}</mat-card></td>&nbsp;&nbsp;
          <td><mat-card class="info"><mat-label>Costo de Adquisicion:</mat-label> {{adquisicion.costo_adquisicion}} Bs. </mat-card></td>
        </table>

        <table>
          <td><mat-card class="info"><mat-label>Nro. Nit Proveedor:</mat-label> {{adquisicion.nit}}</mat-card></td>&nbsp;&nbsp;
        </table>
    
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    </div>
    
    <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->