table {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
.container-btn-new{
      display: flex;
      justify-content: flex-end;
      width: 70%;
      margin: 1rem -0.6rem;

}
  .btn {
    width: 25%;
    color: #fff;
    background: #451e89;
    cursor: pointer;
}

.mat-card-title{
    text-align: center;
    justify-content: center;
    display: flex;
}

.row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mat-elevation-z8{
    width: 60%;
    
}