<div class="form">

    <mat-form-field appearance="fill" >
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!--<mat-form-field appearance="fill">
        <input matInput [(ngModel)]="intro" placeholder="intro fecha">
    </mat-form-field>-->
    
    <mat-card-actions >
        <button (click)="parse()" class="button" mat-raised-button color="primary">fecha</button>
    </mat-card-actions>
    <mat-card-actions >
        <button (click)="calculoDepre(datos_entrada)" class="button" mat-raised-button color="primary">Ejecutar</button>
    </mat-card-actions>
    <mat-card-actions >
        <button (click)="ver()" class="button" mat-raised-button color="primary">ver</button>
    </mat-card-actions>

<br>

</div>
<a>
    {{depresiacion | json}}
</a>
<a>
    {{respuesta}}
</a>





