<div *ngIf="data; else showNewForm">
    <div class="form">
        <mat-card class="card">
            <mat-card-title>Editar Cooperativa</mat-card-title> 
            <mat-card-content>
                <form [formGroup]="cooperativa" class="container">
                    <div><mat-card class="info">
                        <mat-label>Cod. de Coop.:  </mat-label> 
                          {{cooperativa.value.id_coop}}
                    </mat-card></div>

                    <mat-form-field class="space">
                        <mat-label>Nombre</mat-label>
                        <input formControlName="nombre" matInput maxlength="50" placeholder="Nombre de la Coop." required>
                        <mat-error *ngIf="isValidField('nombre')">
                            {{getErrorMessage("nombre")}} 
                        </mat-error>
                        <mat-hint  align="end">
                            <mat-error *ngIf="nombre.invalid" >Introdusca datos</mat-error>
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Ciudad</mat-label>
                        <input formControlName="ciudad" matInput maxlength="20" placeholder="Ej. Potosí" required>
                        <mat-error *ngIf="isValidField('ciudad')">
                            {{getErrorMessage("ciudad")}} 
                        </mat-error>
                        <mat-hint  align="end">
                            <mat-error *ngIf="ciudad.invalid" >Introdusca datos</mat-error>
                        </mat-hint>
                    </mat-form-field>
                    
                    <mat-form-field>
                        <mat-label>Direccion</mat-label>
                        <input formControlName="direccion" matInput maxlength="40" placeholder="Ej. Calle. siempre viva #123" required>
                        <mat-error *ngIf="isValidField('direccion')">
                            {{getErrorMessage("direccion")}} 
                        </mat-error>
                        <mat-hint  align="end">
                            <mat-error *ngIf="direccion.invalid" >Introdusca datos</mat-error>
                        </mat-hint>
                    </mat-form-field>
                    
                    <mat-form-field>
                        <mat-label>Telefono</mat-label>
                        <input formControlName="telefono" matInput type="number" placeholder="Ej. 6221234" required>
                        <mat-error *ngIf="isValidField('telefono')">
                            {{getErrorMessage("telefono")}} 
                        </mat-error>
                        <mat-hint  align="end">
                            <mat-error *ngIf="telefono.invalid" >Introdusca datos</mat-error>
                        </mat-hint>
                    </mat-form-field>
                    
                    <mat-form-field>
                        <mat-label>Nro. de Nit</mat-label>
                        <input formControlName="nit" matInput type="number" placeholder="Ej. 10203040" required>
                        <mat-error *ngIf="isValidField('nit')">
                            {{getErrorMessage("nit")}} 
                        </mat-error>
                        <mat-hint  align="end">
                            <mat-error *ngIf="nit.invalid" >Introdusca datos</mat-error>
                        </mat-hint>
                    </mat-form-field>
                    
                    <mat-form-field>
                        <mat-label>Correo</mat-label>
                        <input formControlName="correo" matInput maxlength="30" placeholder="Ej. Ejemplo@gmail.com">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Direccion Url</mat-label>
                        <input formControlName="url" matInput maxlength="30" placeholder="Url...">
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button (click)="editarCoop()" class="button" mat-raised-button color="accent" [disabled]="!cooperativa.valid" [mat-dialog-close]="true">Editar</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<ng-template #showNewForm>
    <div class="form">
        <mat-card class="card">
            <mat-card-title>Crear Cooperativa</mat-card-title> 
            <mat-card-content>
                <form [formGroup]="cooperativa" class="container">
                    <mat-form-field>
                        <mat-label>Cod. de Coop.</mat-label>
                        <input type="number" formControlName="id_coop" maxlength="3" matInput placeholder="Ej. 60)" required>
                        <mat-error *ngIf="isValidField('id_coop')"> 
                            {{getErrorMessage("id_coop")}} 
                        </mat-error>
                        <mat-hint  align="end">
                            <mat-error *ngIf="id_coop.invalid" >Introdusca datos</mat-error>
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input formControlName="nombre" matInput maxlength="50" placeholder="Nombre de la Coop." required>
                        <mat-error *ngIf="isValidField('nombre')">
                            {{getErrorMessage("nombre")}} 
                        </mat-error>
                        <mat-hint  align="end">
                            <mat-error *ngIf="nombre.invalid" >Introdusca datos</mat-error>
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Ciudad</mat-label>
                        <input formControlName="ciudad" matInput maxlength="20" placeholder="Ej. Potosí" required>
                        <mat-error *ngIf="isValidField('ciudad')">
                            {{getErrorMessage("ciudad")}} 
                        </mat-error>
                        <mat-hint  align="end">
                            <mat-error *ngIf="ciudad.invalid" >Introdusca datos</mat-error>
                        </mat-hint>
                    </mat-form-field>
                    
                    <mat-form-field>
                        <mat-label>Direccion</mat-label>
                        <input formControlName="direccion" matInput maxlength="40" placeholder="Ej. Calle. siempre viva #123" required>
                        <mat-error *ngIf="isValidField('direccion')">
                            {{getErrorMessage("direccion")}} 
                        </mat-error>
                        <mat-hint  align="end">
                            <mat-error *ngIf="direccion.invalid" >Introdusca datos</mat-error>
                        </mat-hint>
                    </mat-form-field>
                    
                    <mat-form-field>
                        <mat-label>Telefono</mat-label>
                        <input formControlName="telefono" matInput type="number" placeholder="Ej. 6221234" required>
                        <mat-error *ngIf="isValidField('telefono')">
                            {{getErrorMessage("telefono")}} 
                        </mat-error>
                        <mat-hint  align="end">
                            <mat-error *ngIf="telefono.invalid" >Introdusca datos</mat-error>
                        </mat-hint>
                    </mat-form-field>
                    
                    <mat-form-field>
                        <mat-label>Nro. de Nit</mat-label>
                        <input formControlName="nit" matInput type="number" placeholder="Ej. 10203040" required>
                        <mat-error *ngIf="isValidField('nit')">
                            {{getErrorMessage("nit")}} 
                        </mat-error>
                        <mat-hint  align="end">
                            <mat-error *ngIf="nit.invalid" >Introdusca datos</mat-error>
                        </mat-hint>
                    </mat-form-field>
                    
                    <mat-form-field>
                        <mat-label>Correo</mat-label>
                        <input formControlName="correo" matInput maxlength="30" placeholder="Ej. Ejemplo@gmail.com">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Direccion Url</mat-label>
                        <input formControlName="url" matInput maxlength="30" placeholder="Url...">
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button (click)="createcoop()" class="button" mat-raised-button color="accent" [disabled]="!cooperativa.valid" [mat-dialog-close]="true">Crear</button>
            </mat-card-actions>
        </mat-card>
    </div>
</ng-template>