<div *ngIf="data; else showNewForm">
    <div class="form">
        <mat-card class="card">
            <mat-card-title>Editar Adquisicion </mat-card-title> 
            <mat-card-content>
                <form [formGroup]="createadqui" class="container">
                    <div><mat-card class="info">
                        <mat-label>Cod. de Adquisicion</mat-label> 
                          {{createadqui.value.id_adquisicion}}
                    </mat-card></div>
                    <mat-form-field class="space">
                        <mat-label>Tipo de adquisicion</mat-label>
                        <input formControlName="nombre_tipo_adq" matInput maxlength="30" placeholder="Ej. Sin Credito Fiscal" required>
                        <mat-error *ngIf="isValidField('nombre_tipo_adq')">
                            {{getErrorMessage("nombre_tipo_adq")}} 
                        </mat-error>
                        <mat-hint  align="end">
                            <mat-error *ngIf="nombre_tipo_adq.invalid" >Introdusca datos</mat-error>
                        </mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Porcentaje</mat-label>
                        <input type="number" formControlName="porcentaje" matInput maxlength="5" placeholder="Ej. 0.13">
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button (click)="edit()" class="button" mat-raised-button color="accent" [disabled]="!createadqui.valid" [mat-dialog-close]="true">Editar</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<ng-template #showNewForm>
    <div class="form">
        <mat-card class="card">
            <mat-card-title>Crear Adquisicion </mat-card-title> 
            <mat-card-content>
                <form [formGroup]="createadqui" class="container">
                    <mat-form-field>
                        <mat-label>Cod. de Adquisicion</mat-label>
                        <input formControlName="id_adquisicion" maxlength="3" matInput placeholder="Ej. SF)" required>
                        <mat-error *ngIf="isValidField('id_adquisicion')"> 
                            {{getErrorMessage("id_adquisicion")}} 
                        </mat-error>
                        <mat-hint  align="end">
                            <mat-error *ngIf="id_adquisicion.invalid" >Introdusca datos</mat-error>
                        </mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Tipo de adquisicion</mat-label>
                        <input formControlName="nombre_tipo_adq" matInput maxlength="30" placeholder="Ej. Sin Credito Fiscal" required>
                        <mat-error *ngIf="isValidField('nombre_tipo_adq')">
                            {{getErrorMessage("nombre_tipo_adq")}} 
                        </mat-error>
                        <mat-hint  align="end">
                            <mat-error *ngIf="nombre_tipo_adq.invalid" >Introdusca datos</mat-error>
                        </mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Porcentaje</mat-label>
                        <input type="number" formControlName="porcentaje" matInput maxlength="5" placeholder="Ej. 0.13">
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button (click)="create()" class="button" mat-raised-button color="accent" [disabled]="!createadqui.valid" [mat-dialog-close]="true">Crear</button>
            </mat-card-actions>
        </mat-card>
    </div>
</ng-template>
