
<div class="ti">
    <mat-card-title>Registrar activo de Vehiculos </mat-card-title>
  </div>
  <div class="forms">
    <mat-card-content class="example-form">
        
        <h5>Cod. cuenta {{activo.id_cuenta}}</h5>
        
        <table class="example-full" cellspacing="0"><tr>
            <td><mat-form-field appearance="fill">
                <mat-label>Nombre de tipo</mat-label>
                <mat-select [(ngModel)]="activo.nombre_tipo" name="food">
                    <mat-option *ngFor="let food of codigo" [value]="food.nombre">
                        {{food.num}} - {{food.nombre}}
                    </mat-option>
                </mat-select>
                <mat-hint  align="end">
                    <mat-error *ngIf="!activo.nombre_tipo" >Introdusca Datos</mat-error>
                </mat-hint>
            </mat-form-field></td>
            <td><mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Codigo tipo  </mat-label>
                <input maxlength="5" type="number" [(ngModel)]="activo.cod_tipo" matInput placeholder="Ej. 1001" >
                <mat-hint  align="end">
                    <mat-error *ngIf="!activo.cod_tipo" >no existe el codigo</mat-error>
                </mat-hint>
            </mat-form-field></td>&nbsp;&nbsp;&nbsp;&nbsp;
            <td><mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Piezas</mat-label>
                <input [(ngModel)]="activo.unidad" matInput placeholder="Ej. 2 Piezas">
            </mat-form-field></td>
            </tr>
        </table>
    
    
        <table class="example-full" cellspacing="0"><tr>
            <td><mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Cod. coop.</mat-label>
                <mat-select [(ngModel)]="activo.id_coop" name="food">
                    <mat-option *ngFor="let food of coop" [value]="food.id_coop">
                        {{food.id_coop}} - {{food.nombre}}
                    </mat-option>
                </mat-select>
                <mat-hint  align="end">
                    <mat-error *ngIf="!activo.id_coop" >Introdusca Datos</mat-error>
                </mat-hint>
            </mat-form-field></td>
            <td><mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Cod. Seccion</mat-label>
                <mat-select [(ngModel)]="activo.cod_seccion" name="food">
                    <mat-option *ngFor="let food of seccion" [value]="food.cod_seccion">
                        {{food.cod_seccion}} - {{food.nombre_seccion}}
                    </mat-option>
                </mat-select>
                <mat-hint  align="end">
                    <mat-error *ngIf="!activo.cod_seccion" >Introdusca Datos</mat-error>
                </mat-hint>
            </mat-form-field></td>
            <td><mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Cod. Funcionario</mat-label>
                <mat-select [(ngModel)]="activo.id_funcionario" name="food">
                    <mat-option *ngFor="let food of funcionario" [value]="food.id_funcionario">
                        {{food.id_funcionario}} - {{food.nombre}} {{food.ap_paterno}}
                    </mat-option>
                </mat-select>
                <mat-hint  align="end">
                    <mat-error *ngIf="!activo.id_funcionario" >Introdusca Datos</mat-error>
                </mat-hint>
            </mat-form-field></td>
            <td><mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Estado</mat-label>
                <mat-select [(value)]="activo.estado_op_nop">
                <mat-option value="Operativo">Operativo</mat-option>
                <mat-option value="No operativo">No operativo</mat-option>
                </mat-select>
            </mat-form-field></td>
        </tr></table>
  
        <table class="example-full" cellspacing="0"><tr>
            <td><mat-form-field appearance="fill">
                <mat-label>Nro. de ruat</mat-label>
                <input [(ngModel)]="vehiculos.ruat" matInput placeholder="Ej. SHTRIKS">
                <mat-hint  align="end">
                    <mat-error *ngIf="!vehiculos.ruat" >Introdusca Datos</mat-error>
                </mat-hint>
            </mat-form-field></td>
            <td><mat-form-field appearance="fill">
                <mat-label>Nro. placa</mat-label>
                <input [(ngModel)]="vehiculos.nro_placa" matInput placeholder="Ej. 1234-ABC">
                <mat-hint  align="end">
                    <mat-error *ngIf="!vehiculos.nro_placa" >Introdusca Datos</mat-error>
                </mat-hint>
            </mat-form-field></td>
            <td><mat-form-field appearance="fill">
                <mat-label>Modelo de año</mat-label>
                <input type="number" [(ngModel)]="vehiculos.modelo" matInput placeholder="Ej. 2020">
                <mat-hint  align="end">
                    <mat-error *ngIf="!vehiculos.modelo" >Introdusca Datos</mat-error>
                </mat-hint>
            </mat-form-field></td>
            <td><mat-form-field appearance="fill">
                <mat-label>Tipo</mat-label>
                <input [(ngModel)]="vehiculos.tipo" matInput placeholder="Ej. Vagoneta">
                <mat-hint  align="end">
                    <mat-error *ngIf="!vehiculos.tipo" >Introdusca Datos</mat-error>
                </mat-hint>
            </mat-form-field></td>
        </tr></table>
  
        <table class="example-full" cellspacing="0"><tr>
            <td><mat-form-field appearance="fill">
                <mat-label>Nro. Chasis</mat-label>
                <input [(ngModel)]="vehiculos.nro_chasis" matInput placeholder="Ej. HS6HDKJID7HD">
                <mat-hint  align="end">
                    <mat-error *ngIf="!vehiculos.nro_chasis" >Introdusca Datos</mat-error>
                </mat-hint>
            </mat-form-field></td>
            <td><mat-form-field appearance="fill">
                <mat-label>Nro. Motor</mat-label>
                <input [(ngModel)]="vehiculos.nro_motor" matInput placeholder="Ej. HS6HDKJID7HD">
                <mat-hint  align="end">
                    <mat-error *ngIf="!vehiculos.nro_motor" >Introdusca Datos</mat-error>
                </mat-hint>
            </mat-form-field></td>
            <td><mat-form-field appearance="fill">
                <mat-label>Color</mat-label>
                <input [(ngModel)]="vehiculos.color" matInput placeholder="Ej. Plomo">
                <mat-hint  align="end">
                    <mat-error *ngIf="!vehiculos.color" >Introdusca Datos</mat-error>
                </mat-hint>
            </mat-form-field></td>
            <td><mat-form-field appearance="fill">
                <mat-label>Marca</mat-label>
                <input [(ngModel)]="vehiculos.marca" matInput placeholder="Ej. Jeep">
                <mat-hint  align="end">
                    <mat-error *ngIf="!vehiculos.marca" >Introdusca Datos</mat-error>
                </mat-hint>
            </mat-form-field></td>
        </tr></table>
  
        <table class="example-full" cellspacing="0"><tr>
            <td><mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Procedencia</mat-label>
                <input [(ngModel)]="vehiculos.procedencia" matInput placeholder="Ej. Americano">
                <mat-hint  align="end">
                    <mat-error *ngIf="!vehiculos.procedencia" >Introdusca Datos</mat-error>
                </mat-hint>
            </mat-form-field></td>
            <td><mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Descripcion</mat-label>
                <textarea [(ngModel)]="activo.descripcion" matInput placeholder="Descripcion"></textarea>
            </mat-form-field></td>
            <td><mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Observacion</mat-label>
                <textarea [(ngModel)]="activo.observacion" matInput placeholder="Observacion"></textarea>
            </mat-form-field></td>
        </tr></table>
  
        <h6>Tipo de adquisicion</h6>
  
        <table class="example-full" cellspacing="0"><tr>
            <td><mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Tipo de adquisicion</mat-label>
                <mat-select [(ngModel)]="adquisicion.id_adquisicion" name="food">
                    <mat-option *ngFor="let food of adqui" [value]="food.id_adquisicion">
                        {{food.id_adquisicion}} - {{food.nombre_tipo_adq}}   {{food.porcentaje}} %
                    </mat-option>
                </mat-select>
                <mat-hint  align="end">
                    <mat-error *ngIf="!adquisicion.id_adquisicion" >Introdusca Datos</mat-error>
                </mat-hint>
            </mat-form-field></td>
            <td><mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Comprovante contable </mat-label>
                <input type="number" [(ngModel)]="adquisicion.comprobante_contable" matInput placeholder="Ej. 1234">
                <mat-hint  align="end">
                    <mat-error *ngIf="!adquisicion.comprobante_contable" >Introdusca Datos</mat-error>
                </mat-hint>
            </mat-form-field></td>
            <td><mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Costo de adquicicion (Bs.)</mat-label>
                <input type="number" [(ngModel)]="adquisicion.costo_adquisicion" matInput placeholder="Ej. 1234">
                <mat-hint  align="end">
                    <mat-error *ngIf="!adquisicion.costo_adquisicion" >Introdusca Datos</mat-error>
                </mat-hint>
            </mat-form-field></td>
            <td><form class="form-inline">
                <div class="form-group">
                  <div class="input-group">
                    <input matImput class="form-control" placeholder="Fecha de adquisicion" 
                           name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                          <mat-icon>calendar_today</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </form></td>
        </tr></table>
        <p>
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Nit de adquisicion</mat-label>
                <mat-select [(ngModel)]="adquisicion.nit" name="food">
                    <mat-option>--- Nuevo proveedor ---</mat-option>
                    <mat-option *ngFor="let food of prov" [value]="food.nit">
                     {{food.nit}}  Nombre: {{food.nombre_tienda}} Dir: {{food.direccion}} Telf: {{food.telefono}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
  
        <h6 *ngIf="!adquisicion.nit">Registro del proveedor</h6>
        <table *ngIf="!adquisicion.nit" class="example-full" cellspacing="0"><tr>
            <td><mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Nro. de Nit</mat-label>
                    <input type="number" [(ngModel)]="proveedor.nit" matInput placeholder="Ej. 1020304050">
                    <mat-hint  align="end">
                        <mat-error *ngIf="!proveedor.nit" >Introdusca Datos</mat-error>
                    </mat-hint>
                </mat-form-field></td>
            <td><mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Nombre  de tienda</mat-label>
                <input upercase [(ngModel)]="proveedor.nombre_tienda" matInput placeholder="Ej. Todo Barato">
            </mat-form-field></td>
            <td><mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Direccion de la tienda</mat-label>
                    <input [(ngModel)]="proveedor.direccion" matInput placeholder="Ej. Siempre viva # 123">
                </mat-form-field></td>
            <td><mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Nro. de telefono </mat-label>
                <input type="number" [(ngModel)]="proveedor.telefono" matInput placeholder="Ej. 76......">
            </mat-form-field></td>
        </tr></table>
        
        <mat-card-actions >
            <button (click)="crear()" class="button" mat-raised-button color="primary">Registrar</button>
        </mat-card-actions>
  
    </mat-card-content>
  </div>