
.home {
    margin: 0;
    min-height: 100vh;
    background-image: url('../../ImgActivos/18423365420_c10814ef6c.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: block;
    justify-content: center;
    align-items: center;
    
}
.image{
    width: 50%;
    min-height: 30vh;
    background-image: url('../../ImgActivos/desktop_9f14302e-bfe9-4d55-8ca8-7f9cb9834688.gif');
    background-repeat: no-repeat;
    background-size: 500px 180px;
}
.image2{
    width: 50%;
    min-height: 30vh;
    background-image: url('../../ImgActivos/images.jpg');
    background-repeat: no-repeat;
    background-size: 300px 210px;
}

h1{
    width: 100%;
    font-size: 5.1rem;
    font-family: unset;
    font-style: oblique;
    color: var(--warning);
}
div{
    display: flex;
    min-height: 35vh;
}