.container{
    display: flex;
    flex-direction: column;
}
.prof{
    background: #e3f0e3d2;
}
.formu{
    background: #43ec5126;
}
.button{
    width: 100%;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
mat-card-title{
    text-align: center;
}
.space{
    padding: 10px;
}

table{
    display: flex;
    flex-direction: row;
}


.info{
    background: #ababab2e;
}