<mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ej. SIS " #input>
</mat-form-field>
<!--<div class="cabezal">
&nbsp;
<mat-form-field appearance="fill">
    <mat-label>Color</mat-label>
    <input [(ngModel)]="seccion" matInput placeholder="Ej. Cafe">
    
</mat-form-field>
<button mat-fab color="primary" (click)="filtroSeccion(dataSource.data,seccion)">Primary</button>
</div>-->
<div class="container">
      <button mat-raised-button color="primary" (click)="exportAsXLSX()">Exportar todo a excel
          <mat-icon>trending_down</mat-icon>
      </button>
      &nbsp;
      <button mat-raised-button color="primary" (click)="exportAsXLSXfilter()">Exportar filtro de busqueda
        <mat-icon>trending_down</mat-icon>
    </button>
      <!--<button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>-->
      
</div>
<div class="row">
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="id_activo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Activo&nbsp;&nbsp;&nbsp;</th>
      <td mat-cell *matCellDef="let row"> {{row.id_activo}}</td>
    </ng-container>

    <ng-container matColumnDef="id_cuenta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cod. cuenta&nbsp;&nbsp;&nbsp;</th>
        <td mat-cell *matCellDef="let row"> {{row.id_cuenta}} </td>
      </ng-container>
        
    <ng-container matColumnDef="id_coop">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> cod. Coop. &nbsp;&nbsp;&nbsp;</th>
        <td mat-cell *matCellDef="let row"> {{row.id_coop}} </td>
      </ng-container>
        
    <ng-container matColumnDef="cod_tipo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cod. tipo &nbsp;&nbsp;&nbsp;</th>
        <td mat-cell *matCellDef="let row"> {{row.cod_tipo}} </td>
      </ng-container>
  
    <ng-container matColumnDef="cod_seccion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> cod. seccion &nbsp;&nbsp;&nbsp;</th>
      <td mat-cell *matCellDef="let row"> {{row.cod_seccion}} </td>
    </ng-container>
  
    <ng-container matColumnDef="id_funcionario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cod. funcionario&nbsp;&nbsp;&nbsp;</th>
      <td mat-cell *matCellDef="let row"> {{row.id_funcionario}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre_tipo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre tipo &nbsp;&nbsp;&nbsp;&nbsp;</th>
        <td mat-cell *matCellDef="let row"> {{row.nombre_tipo}} </td>
    </ng-container>


    <ng-container matColumnDef="unidad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>unidad&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <td mat-cell *matCellDef="let row"> {{row.unidad}} </td>
    </ng-container>

    <ng-container matColumnDef="estado_op_nop">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Estado</th>
        <td mat-cell *matCellDef="let row">  
            <button mat-stroked-button class="ope" *ngIf="row.estado_op_nop == 'Operativo' " >{{row.estado_op_nop}}</button>
            <button mat-stroked-button class="nope" *ngIf="row.estado_op_nop == 'No operativo' ">{{row.estado_op_nop}}</button>
        </td>
    </ng-container>

    <ng-container matColumnDef="detalles">
        <th mat-header-cell *matHeaderCellDef >Detalles</th>
        <td mat-cell *matCellDef="let row">
            <button mat-stroked-button color="accent" (click)= "detalles(row)" mat-raised-button>
            <mat-icon>notes</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="mover">
        <th mat-header-cell *matHeaderCellDef >Mover</th>
        <td mat-cell *matCellDef="let row">
            <button mat-stroked-button color="primary" (click)= "mover(row.id_activo)" mat-raised-button>
            <mat-icon>swap_horiz</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef >Editar</th>
        <td mat-cell *matCellDef="let row">
            <button mat-stroked-button color="accent" (click)= "editar(row.id_activo, row.id_cuenta)">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef >Eliminar</th>
        <td mat-cell *matCellDef="let row">
            <button mat-stroked-button color="warn" (click)= "eliminar(row)">
                <mat-icon>deleted</mat-icon>
            </button>
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
