<div class="form">
    <mat-card class="card">
        <mat-card-title>Registrar usuario</mat-card-title>
        <mat-card-content>
            <div class="container">
                <mat-form-field>
                    <mat-label>Cod. Funcionario</mat-label>
                    <mat-select [(ngModel)]="signUpUser.id_funcionario" name="food">
                        <mat-option *ngFor="let food of funcionario" [value]="food.id_funcionario">
                            {{food.id_funcionario}} - {{food.nombre}} {{food.ap_paterno}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input [(ngModel)]="signUpUser.username" matInput placeholder="Nombre Usuario">
                </mat-form-field>
                <mat-form-field>
                    <input [(ngModel)]="signUpUser.password" matInput placeholder="Password">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Rol de Usuario</mat-label>
                    <mat-select [(value)]="selected">
                      <mat-option value="admin">administrador</mat-option>
                      <mat-option value="user">usuario</mat-option>
                      <mat-option value="pm">cliente</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="signUp()" class="button" mat-raised-button color="primary">Registrar</button>
        </mat-card-actions>
    </mat-card>
</div>
